.topnav {
    background-color:bisque;
    overflow:hidden;
}
.topnav a {
    float:left;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:20px;
    color:burlywood;
    
}
.topnav a :visited {
    color:antiquewhite;
}
#Headshot {
    width:25%;
    height:500px;
    float:left;
    margin:10px;
    border:dashed;
    border-color:bisque;
}
#Intro {
    font-family:'Bad Script', cursive;
    background-color:white;
    border-color:bisque;
    width:75%;
}
#IntroInfo {
    font-family:'Marvel', sans-serif;
    padding:0px;
    margin:0px;
}
#Purpose {
    font-family: 'Bad Script', cursive;
    background-color: white;
    padding: 5px;
    margin: 10px;
    width: 75%;
}
#PurposeInfo {
    font-family: 'Marvel', sans-serif;
}
#AboutMeTitle {
    font-family: 'Bad Script', cursive;
    background-color: white;
}
#AboutMeInfo {
    font-family: 'Marvel', sans-serif;
}
#AB1 {
    width:25%;
    border:dashed;
    border-color:bisque;
    height:500px;
}
#AB2 {
    width: 25%;
    border: dashed;
    border-color: bisque;
    height: 500px;
}
#AB3 {
    width: 25%;
    border: dashed;
    border-color: bisque;
    height: 500px;
}