.topnav {
    background-color:bisque;
    overflow:hidden;
}
.topnav a {
    float:left;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:20px;
    color:burlywood;
    
}
.topnav a :visited {
    color:antiquewhite;
}
#Headshot {
    width:45%;
    height:500px;
    float:left;
    margin:10px 10px 10px 0px;
    border:dashed;
    border-color:bisque;
}
#Writing {
    float:left;
    border:2px solid;
    border-color:bisque;
    width:50%;
    margin:10px 0px 0px 10px;
}
#Intro {
    font-family: 'Bad Script', cursive;
    background-color: white;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 10px;
}
#IntroInfo {
    font-family:'Marvel', sans-serif;
}
#Purpose {
    font-family: 'Bad Script', cursive;
    background-color: white;
    padding: 0px 0px 0px 10px;
    margin: 10px 0px 0px 10px;
}
#PurposeInfo {
    font-family: 'Marvel', sans-serif;
}
#AboutMeTitle {
    font-family: 'Bad Script', cursive;
    background-color: white;
}
#AboutMeInfo {
    font-family: 'Marvel', sans-serif;
}
#AB1 {
    width:25%;
    border:dashed;
    border-color:bisque;
    height:500px;
    float:left;
    margin:10px 10px 10px 0px;
}
#AB2 {
    width: 25%;
    border: dashed;
    border-color: bisque;
    height: 500px;
    float:left;
    margin:10px;
}
#AB3 {
    width: 25%;
    border: dashed;
    border-color: bisque;
    height: 500px;
    float:left;
    margin:10px;
}
#Project {
    font-family: 'Bad Script', cursive;
    background-color: white;
    width:20%;
    float:left;
    text-align:left;
}
#ProjectInfo {
    font-family: 'Marvel', sans-serif;
}
#P1 {
    width: 75%;
    border: dashed;
    border-color: bisque;
    height: 500px;
    float: left;
    margin: 10px 0px 0px 0px;
}
ul {
    list-style-type:none;
}
#Social {
    font-family: 'Bad Script', cursive;
    background-color: white;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 10px;
}
#SocialInfo {
    font-family: 'Marvel', sans-serif;
}
#SS1 {
    width: 33%;
    border: dashed;
    border-color: bisque;
    height: 500px;
    float: left;
    margin: 10px 10px 10px 0px;
}
#SS2 {
    width: 33%;
    border: dashed;
    border-color: bisque;
    height: 500px;
    float: left;
    margin: 10px;
}
#Skills {
    font-family: 'Bad Script', cursive;
    background-color: white;
    float: left;
    width: 30%;
}

#SkillsInfo {
    font-family: 'Marvel', sans-serif;
}