.topnav {
    background-color:bisque;
    overflow:hidden;
}
.topnav a {
    float:left;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:20px;
    color:antiquewhite;
    
}
.topnav a :visited {
    color:antiquewhite;
}
img {
    width:25%;
    height:500px;
    float:left;
}
#Intro {
    font-family:'Bad Script', cursive;
    border:2px solid;
    background-color:white;
    border-color:bisque;
    padding:5px;
    margin:10px;
}
